<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path %>
<%== pagy_nav(@pagy) %>

<div id="users" class="row">
  <% @users.each do |user| %>
    <div class="card m-2" style="width: 18rem;">
      <div class="m-3">
        <%= render user %>
        <p>
          <%= link_to "Show this user", user %>
        </p>
      </div>
    </div>
  <% end %>
</div>
